Pillow>=5.2.0
retina-face>=0.0.1
numpy==1.19.5
pandas>=0.23.4
opencv-python==4.1.2
tensorflow>=1.9.0
gdown>=3.10.1
keras>=2.2.0
tqdm>=4.30.0
mtcnn>=0.1.0
Flask>=1.1.2
itsdangerous<2.0,>=0.24
Jinja2<3.0,>=2.10.1
Werkzeug<2.0,>=0.15
click<8.0,>=5.1
six
beautifulsoup4
requests[socks]
filelock
MarkupSafe>=0.23
pytz>=2017.3
python-dateutil>=2.7.3
google-pasta>=0.1.1
wrapt>=1.11.0
tensorflow-estimator<2.8,~=2.7.0rc0
gast<0.5.0,>=0.2.1
h5py>=2.9.0
tensorboard~=2.6
absl-py>=0.4.0
astunparse>=1.6.0
grpcio<2.0,>=1.24.3
opt-einsum>=2.3.2
flatbuffers<3.0,>=1.12
libclang>=9.0.1
typing-extensions>=3.6.6
protobuf>=3.9.2
keras-preprocessing>=1.1.1
termcolor>=1.1.0
wheel<1.0,>=0.32.0
tensorflow-io-gcs-filesystem>=0.21.0
cached-property
tensorboard-data-server<0.7.0,>=0.6.0
google-auth<3,>=1.6.3
markdown>=2.6.8
google-auth-oauthlib<0.5,>=0.4.1
tensorboard-plugin-wit>=1.6.0
setuptools>=41.0.0
rsa<5,>=3.1.4
pyasn1-modules>=0.2.1
cachetools<5.0,>=2.0.0
requests-oauthlib>=0.7.0
importlib-metadata>=4.4
zipp>=0.5
pyasn1<0.5.0,>=0.4.6
chardet<4,>=3.0.2
certifi>=2017.4.17
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
idna<3,>=2.5
oauthlib>=3.0.0
PySocks!=1.5.7,>=1.5.6 
matplotlib==3.2.2